button{
    border-style: none;
    background-color: transparent;

    .buttonIcon{
        width: 4rem;
        height: 4rem;
        color: #AE03FF;
        
    } 
}

.list{
    width: 30vw;
    z-index: 5;
    p{
        font-family: Lexend Deca;
        color: #000;
        font-size: 1.5rem;
    }

    .link{
        text-decoration: none;
    }
}
