.navbar{
    height: 10vh;
    width: 80vw;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -40vw;


    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    
    font-family: Lexend Deca;
    font-size: 2rem;
    transition: all ease 0.5s;

    .header--logo{
        margin-left: 31px;
    }

    .header--cadastro{
        position: absolute;
        right: 15rem;
        a{
            color: #000;

            &:link{
                text-decoration: none;
            }
        }
    }

    .header--entrar{
       position: absolute;
       right: 5rem;
       a{
            color: #000;

            &:link{
                text-decoration: none;
            }
        }
    }

}


.active{

    height: 10vh;
    width: 80vw;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -40vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend Deca;
    font-size: 2rem;
    transition: all ease 0.5s;

    .header--logo{
        margin-left: 31px;
    }

    .header--cadastro{
        position: absolute;
        right: 15rem;
        a{
            color: #000;

            &:link{
                text-decoration: none;
            }
        }
    }

    .header--entrar{
       position: absolute;
       right: 5rem;
       a{
            color: #000;

            &:link{
                text-decoration: none;
            }
        }
    }
}