*{
    margin: 0;
    padding: 0;

    .Link{
        text-decoration: none;
    }
}

.arrow{
    margin: 1.2rem;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;    
    height: 80vh;
    
    

    .opcoes{
        display: flex;
        flex-direction: row;

        .motoboy{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            img{
                border-radius: 20px;
                width: 9rem;
                padding-bottom: 1rem;
            }
        }
        .cozinheiro{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            img{
                border-radius: 20px;
                width: 9rem;
                padding-bottom: 1rem;
            }
        }
    }
}




