@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lexend+Deca&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 768px){
  html{
    font-size: 50%;
  }
}
