.footer{
    background-color: #000;
    width: 100%;
    height: 40vh;

    .logo--suporte{

        padding-top: 3rem;
        

        a{
            font-family: Lexend Deca;
            color: #fff;
            font-size: 1.5rem;
    
            &:link{
                text-decoration: none;
            }
        }
    }

    .btnDownload{
        .btnAndroid{
            width: 14rem;
        }

        .btnWindows{
            width: 12rem;
            margin-left: 13px;
            
        }
    }
}